/* line 9, sass/wufoo.scss */
.wufoo {
  font-family: Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.5);
  -webkit-font-smoothing: antialiased;
}

/* line 13, sass/wufoo.scss */
.wufoo * {
  box-sizing: border-box;
}

/* line 19, sass/wufoo.scss */
.wufoo h2 {
  display: none;
}

/* line 23, sass/wufoo.scss */
.wufoo li {
  padding: 0;
}

/* line 26, sass/wufoo.scss */
.wufoo li.focused {
  background-color: transparent !important;
}

/* line 31, sass/wufoo.scss */
.wufoo .info {
  border: none;
}

/* line 35, sass/wufoo.scss */
.wufoo .info h2 {
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0;
  text-align: center;
}

/* line 42, sass/wufoo.scss */
.wufoo label.desc {
  color: rgba(0, 0, 0, 0.5);
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

/* line 49, sass/wufoo.scss */
.wufoo input[type="text"],
.wufoo input[type="email"],
.wufoo textarea,
.wufoo textarea.textarea {
  background: none;
  border: 1px solid #bfc0bf;
  border-radius: 2px;
  display: block;
  width: 100%;
  max-width: 500px;
  min-width: 0;
  margin: 0 auto 1rem auto;
  padding: .5rem;
}

/* line 63, sass/wufoo.scss */
.wufoo textarea {
  height: 6rem;
}

/* line 66, sass/wufoo.scss */
.wufoo input[type="submit"] {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1rem;
  font-weight: 700;
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  display: block;
  border: none;
  box-shadow: none;
  min-width: 100px;
  padding: .5rem 1.5rem;
  margin: 0 auto;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* line 84, sass/wufoo.scss */
.wufoo .buttons a {
  float: right;
}

/* line 92, sass/wufoo.scss */
#errorLi {
  border-radius: 0;
  max-width: 500px;
  border-color: #9D3434 !important;
}

/* line 100, sass/wufoo.scss */
#errorMsg b {
  color: #9D3434 !important;
}

/* line 105, sass/wufoo.scss */
#errorMsgLbl {
  color: #9D3434 !important;
  margin-bottom: 10px;
}

/* line 111, sass/wufoo.scss */
form p.error {
  color: #9D3434 !important;
}

/* line 114, sass/wufoo.scss */
form li.error {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

/* line 118, sass/wufoo.scss */
form li.error .desc {
  color: #9D3434 !important;
}
