//TODO - convert nav-height to rem-height mixin

@font-face {
  font-family: 'Bing';
  src: url('./fonts/2E8E69_0_0.eot');
  src: url('./fonts/2E8E69_0_0.eot?#iefix') format('embedded-opentype'),
  url('./fonts/2E8E69_0_0.woff2') format('woff2'),
  url('./fonts/2E8E69_0_0.woff') format('woff'),
  url('./fonts/2E8E69_0_0.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

strong {
  font-weight: bold;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  color: $greyish;
  font-family: $sans-serif;
}

a {
  color: $blueish;
  text-decoration: none;
  &:hover, &:focus {
    color: darken($blueish, 20%);
  }
}

img {
  display: inline-block;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto;
}


// Typography
//------------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {
  padding-top: 0;
  margin-top: 0;
}

h2 {
  font-family: 'Anton', sans-serif;
  font-size: 38px;
  text-transform: uppercase;
  color: #4c3f37;
}

.text-large {
  @include breakpoint($small) {
    font-size: 1.6rem;
  }
  font-size: 1.2rem;
  font-weight: lighter;
}

.bumpit-baby {
  margin-left: -10px;
}

.red {
  color: red;
}

.lh16 {
  line-height: 1.5;
}
// End typography
//------------------------------------------------------------------------------

header {
  background-color: white;
  border-bottom: 1px solid $border;
  height: $nav-height;
  margin-bottom: 4em;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 10;

  .row {
    height: 100%;
    position: relative;
  }

  &.show-title {
    .header-title {
      // transform: translateY(-50%);
    }
  }
}

.header-container {
  @include breakpoint($small) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.header-title {
  @include breakpoint($small) {
    text-align: left;
  }
  @include breakpoint($medium) {
    font-size: 5.5rem;
  }  
  font-family: $bing;
  font-size: 4rem;
  line-height: 1;
  position: relative;
  text-align: center;
  top: -0.375rem;

  a, a:hover, a:focus {
    color: $lightgrey;
  }
}

.hero-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

// .hero {
//   font-family: $serif;
//   font-size: 3.25rem;
//   text-align: center;
//   margin-bottom: 1rem;
// }

.subhero {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 1px;
  text-align: center;
}

#main-nav {
  // height: $nav-height;

  ul {
    @include breakpoint($small) {
      display: block;  
    }
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    float: left;
    height: 100%;

    a {
      @include breakpoint($small) {
        font-size: 1.375rem;
        padding: 1.875rem 1rem 0;
      }
      @include breakpoint($medium) {
        padding: 2.25rem 2rem 0;
      }
      color: $darkgrey;
      display: block;
      font-size: 1.2rem;
      font-weight: lighter;
      letter-spacing: -1px;
      padding: 0 .75rem 0;
      text-decoration: none;
    }
  }
}

.row {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.25rem;
  box-sizing: border-box;
}

section {
  clear: both;
}

section .row {
  hr {
    clear: both;
    border: none;
    padding-top: 5rem;
    border-bottom: 1px solid lightgrey;
    margin: 0 0 5rem;
  }
}

.section-title {
  @extend .subhero;
  color: $greyish;
  margin: 0 auto;
}

#start {
  @include breakpoint($small) {
    height: calc(100vh - #{$nav-height} - 2.5rem);
    position: relative;    
  }
}

.slick-slide {
  @include breakpoint($small) {
    width: 400px;
  }
  @include breakpoint($medium) {
    width: 600px;  
  }
  transform: scale(0.75);
  transition: all 0.3s ease;
  opacity: 0.15;
  width: 200px;
  position: relative;
  text-align: center;

  &.slick-center:hover {
    .descr {
      @include breakpoint($small) {
        background-color: rgba(255, 255, 255, 0.7);
        opacity: 1;        
      }
    }
  }

  &:focus {
    outline: 0;
  }

  img {
    display: inline-block;
    max-height: calc(100vh - #{$nav-height} - 2.5rem); // 2.5rem is header bottom margin
  }
}

.carousel {
  // @media screen and (max-height: 600px) and (max-width: $small - 1) {
  //   top: 35%;
  // }
  @include breakpoint($small) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);    
  }
  display: none;
  width: 100%;

  &.slick-initialized {
    display: block;
  }
}

.descr {
  display: flex;
  align-items: center;
  background-color: transparent;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 50%;
  opacity: 0;
  left: 0;
  transition: all 300ms ease;
  transform: translateY(-50%);
}

.carousel.show-descr {
  .descr {
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 1;
    height: 33%;
    top: auto;
    bottom: 0;
    opacity: 1; 
    transform: none;
  }
}

.carousel-descr p,
.descr p {
  color: #333;
  font-family: $sans-serif;
  font-size: 0.875rem;
  max-width: 28.125rem;
  margin: 0 auto;
  line-height: 1.3;
  text-align: center; 
}

.carousel-descr {
  @include breakpoint($small) {
    display: none;
  }
  padding: 1.25rem;
}

.slick-active {
  opacity: 0.15;
}

.slick-slide.slick-center {
  opacity: 1;
  transform: scale(1);
}

.slick-prev,
.slick-next {
  @include breakpoint($medium) {
    width: 100px;  
  }
  z-index: 1;
  width: 60px;
  height: 100%;
}

.slick-prev:before,
.slick-next:before {
  @include breakpoint($small) {
    height: 56px;
    width: 30px;
  }
  @include breakpoint($medium) {
    height: 86px;
    width: 46px;
  }
  background-repeat: no-repeat;
  background-size: 100%;
  content: '';
  display: block;
  height: 34px;
  margin: 0 auto;
  width: 18px;
}

.slick-prev:before {
  background-image: url('../images/left.svg');
}

.slick-next:before {
  background-image: url('../images/right.svg');
}

.slick-prev {
  @include breakpoint($medium) {
    left: 5%;
  }
  @include breakpoint($med-lg) {
    left: 10%;
  }
  @include breakpoint($large) {
    left: 20%;  
  }
  left: 3%;
}

.slick-next {
  @include breakpoint($medium) {
    right: 5%;
  }
  @include breakpoint($med-lg) {
    right: 10%;
  }
  @include breakpoint($large) {
    right: 20%;  
  }
  right: 3%;
}

.has-touch #show-descr {
  display: block;
}

#show-descr {
  background: none;
  border: 1px solid #ddd;
  border-radius: 0;
  color: #a5a5a5;
  display: none;
  font-size: 0.75rem;
  padding: 0.5rem;
  position: absolute;
  right: 20px;
  top: -20px;
  z-index: 1;
}


// Two columns
//------------------------------------------------------------------------------
.two-col {
  @include breakpoint($small) {
    display: flex;      
  }
}


.two-col__left {
  @include breakpoint($small) {
    flex: 0 0 33%;
    padding-right: 1.5625rem;
  }
  @include breakpoint($large) {
    flex: 0 0 50%;
  }
}

.two-col__right {
  @include breakpoint($small) {
    flex: 0 0 64%;
    padding-left: 1.5625rem;
    padding-top: 0;
  }
  @include breakpoint($large) {
    flex: 0 0 50%;
    padding-top: 3.125rem;
  }
  padding-top: 2rem;
}
// End two columns
//------------------------------------------------------------------------------



// Boxes
//------------------------------------------------------------------------------
.boxes {
  @include breakpoint($small) {
    display: flex;
    margin-left: -20px;
    margin-right: -20px;
  }

  > div {
    @include breakpoint($small) {
      width: 33%;
      padding: 0 20px;
    }

    + div {
      @include breakpoint($small) {
        margin-top: 0;
      }
      margin-top: 20px;
    }
  }
}

.box__container {
  border: 1px solid rgba(38,34,38,0.23);
  box-shadow: 2px 2px 2px 0px rgba(38,34,38,0.23);
  padding: 20px;
}

.box__descr {
  font-size: 1.2em;
  text-align: center;
}
// End boxes
//------------------------------------------------------------------------------




#work {
  .work-lead {
    font-size: 1.5rem;
    line-height: 1.3;
    max-width: 700px;
    margin: 2rem auto 4rem;
    text-align: center;
  }
  img {
    &.center {
      display: block;
      max-width: 600px;
      margin: 0 auto 1rem auto;
    }
    @include breakpoint($small-only) {
      margin-bottom: 1rem;
    }
    @include breakpoint($small) {
      &.right {
        width: 55%;
        padding: 0 1rem 0 0;
        float: left;
        transform: perspective(700px) rotateY(25deg) translateX(15px);
      }
      &.left {
        width: 55%;
        float: right;
        padding: 0 0 0 1rem;
        transform: perspective(700px) rotateY(-25deg) translateX(-15px);
      }
    }
  }
}

.sample {
  background: url(../images/sample-lg.jpg) no-repeat center center;
  background-size: cover;
}

// .work-blurb {
//   @include breakpoint($small) {
//     &.right {
//       width: 45%;
//       padding: 0 0 0 1rem;
//       float: left;
//     }
//     &.left {
//       width: 45%;
//       float: right;
//       padding: 0 1rem 0 0;
//     }
//   }
//   h2 {
//     font-family: $serif;
//     font-size: 2rem;
//     font-weight: 700;
//     margin-bottom: 1rem;
//   }
//   p {
//     line-height: 1.4;
//   }
// }

.sample-caption {
  max-width: 600px;
  margin: 1rem auto 6rem auto;
  font-size: 1rem;
  line-height: 1.2;
  text-align: center;
}

.pipe {
  font-size: .8rem;
  position: relative;
  top: -1px; 
}

#contact {
  .row {
    padding-top: 0;
  }
  color: $greyish;
  h2 {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
  }
  input[type="text"],
  textarea {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 1rem auto;
    padding: .5rem;
  }
  textarea {
    height: 6rem;
  }
  input[type="submit"] {
    background-color: cornflowerblue;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    font-family: $sans-serif;
    text-transform: uppercase;
    display: block;
    border: none;
    box-shadow: none;
    min-width: 100px;
    padding: .5rem 1.5rem;
    margin: 0 auto;
  }
  iframe {
    height: 650px;
  }
}