$nav-height: 5rem;

$micro: 321px;
$small: 481px;
$medium: 769px;
$large: 1025px;

$micro-only: max-width ($micro - 1);
$small-only: max-width ($small - 1);

$serif: 'Gentium Basic', serif;
$sans-serif: 'Cabin', sans-serif;
$bing: 'Bing', serif;

$whiteish: darken(#fff, 20%);
$greyish: rgba(0, 0, 0, 0.5);
$blueish: #415f93;
